figure {
  clear: both;
  outline: 0;
  margin: 0.8em 0 1.2em;
  padding: 0;
  text-align: center;
}

figure img {
  display: block;
  margin: auto auto 4px;
  box-sizing: border-box;
}

figure figcaption {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  font-size: 0.8em;
  color: #555553;
}

figure figcaption a {
  text-decoration: none;
  color: #555553;
}

hr {
  display: block;
  width: 14%;
  margin: 40px auto 34px;
  border: 0 none;
  border-top: 3px solid #555553;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  font-size: 0.96em;
  box-sizing: border-box;
}

caption {
  text-align: center;
  font-size: 0.8em;
  margin: 1em 0 0.2em;
}

th, td {
  text-align: left;
  padding: 4px 8px 4px 10px;
  border: 1px solid #dadada;
}

pre {
  margin: 1em 0;
  padding: 8px;
  border-left: 3px solid #dadada;
  line-height: 1.4;
  font-size: 0.96em;
  font-family: monospace;
  color: #586e75;
  background-color: #f9f9f7;
}

blockquote {
  color: #222223;
  margin: 1em 0;
  font-size: 0.86em;
  padding-left: 1em;
}

h1 {
  font-weight: bold;
  text-align: center;
}
