<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ section.title }}</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
  </head>
  <body>
    <div class="cover">
      <h1 class="cover-title">{{ section.title }}</h1>
      {% if section.subtitle %}
      <div class="cover-meta">{{ section.subtitle }}</div>
      {% endif %}
    </div>
  </body>
</html>
